@import url("https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap");
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    background-color: #ccc;
    display: flex;
    font-size: 8pt;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.page {
    background-color: #fff;
    width: 21cm;
    height: 29.7cm;
    padding: 0.5cm; /* Printer Safe Zone */
    overflow: hidden;
    display: grid;
    align-content: start;
    gap: 0rem;
    margin-bottom: 0.1cm;
}
.page-maxsize {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.page-magic {
    grid-template-columns: repeat(3, 6.3cm);
    grid-template-rows: auto auto auto;
}
.page-tarot {
    grid-template-columns: repeat(2, 7cm);
    grid-template-rows: auto auto;
}
.card {
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 0.5rem 0.5rem 0.25rem 0.5rem;
    position: relative;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}
.card-magic {
    width: 6.3cm;
    height: 8.8cm;
}
.card-tarot {
    width: 7cm;
    height: 12cm;
}
/* SYMBOLS FOR CONCENTRATION, RITUAL, SPELL LEVEL */
.concentration,
.ritual,
.level {
    position: absolute;
    top: 0.33rem;
    width: 1.16rem;
    height: 1.16rem;
    text-align: center;
    align-content: center;
    font-size: 10pt;
    font-weight: bold;
    color: #fff;
}
.level {
    background-color: #333;
}
.concentration,
.ritual {
    left: 0.33rem;
    padding-top: 0.1rem;
    background-color: rgba(0, 0, 0, 0.33);
}
.concentration {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.ritual {
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
.ritConc {
    left: 1.5rem;
}
.level {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    right: 0.33rem;
}
h2 {
    font-family: "Imbue", serif;
    font-size: 15pt;
    line-height: 1;
    text-align: center;
    transform: translateY(-0.25rem); /* Typographical fine tuning */
}
.card-tarot h2 {
    font-size: 16pt;
}
header {
    text-align: center;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    border-top: 0.25pt solid #ccc;
    border-bottom: 0.25pt solid #ccc;
    padding-top: 0.25em;
    padding-bottom: 0.05em;
    line-height: 1.05;
}
header h3 {
    /*font-family: "Imbue", serif;*/
    font-size: 7.5pt;
    text-transform: uppercase;
    color: #333;
}
.card-tarot header h3 {
    font-size: 9pt;
}
header p {
    font-size: 10pt;
}
.card-tarot header p {
    font-size: 12pt;
}
main {
    margin-top: 0.16em;
    font-size: 9pt;
    line-height: 1.05;
    text-align: justify;
    hyphens: auto;
}
/* For cards with a lot of text, we decrease the font size... sad face. */
main.fontSmall {
    font-size: 8pt;
}
.card-tarot main {
    font-size: 9pt;
}
main ul {
    padding-left: 1em;
}
main p,
main ul {
    margin-top: 0.25em;
}
main br {
    margin-bottom: 0.2em;
}
footer {
    font-weight: 700;
    display: flex;
    gap: 0.16rem;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-tarot footer {
    font-size: 9pt;
}
footer .material {
    flex-basis: 100%;
    text-align: center;
    font-weight: 400;
}
/* SPECIAL CSS FOR PRINT / PDF GENERATION */
@media print {
    .page,
    .page-break {
        break-after: page;
    }
}
